
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Folder", FormMethod.Get)) {

    <h1>Enter the Public# then Submit</h1>

    @Html.Label("publicId", "Public# ")
    @Html.TextBox("publicId", 34);
    @*568801*@
    <input type="submit" value="Submit" />
}